<ul id="lists">
  <% sort_lists(@lists) do |id, list| %>
    <li class=<%= list_status(list[:todos])%> >
      <a href="/lists/<%=id%>">
        <h2> <%= list[:name] %> </h2>
        <p> <%= todos_left_as_fraction(list[:todos]) %> </p>
      </a>
    </li>
  <% end %>
<ul>

<% content_for :header_links do %>
  <a class="add" href="/lists/new" > New List </a>
<% end %>
